<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 300px;
        }
    </style>
</head>
<body>
    <h3>首頁</h3>
    <form action="/calculate" method="post">
        數字 <input type="text" name="max">
        <button>submit</button>
    </form>
    <hr>
    <form action="/show">
        姓名 <input type="text" name="username">
        <button>name</button>
    </form>
    <hr>
    <a href="/page">secondPage</a>
    <br>
    <img src="/cat.jpg" alt="">
</body>
</html>