<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">

</head>
<body>
    <div class="loginBox">
        <h3>Register</h3>
        <form action="/signup" method="POST">
            <input type="text" value="nickname" id="nick" name="nickname">
            <input type="text" value="username" id="user" name="username">
            <input type="password" value="password" id="pwd" name="password">
            <button>commit</button>
        </form>
        <a href="/">home</a>
    </div>
    <script> // 暱稱帳號密碼 > 顯示隱藏
        // 1. 獲取元素
        let nick = document.querySelector("#nick");
        let user = document.querySelector("#user");
        let pwd = document.querySelector("#pwd");
        // 2. 註冊事件
        nick.onfocus = function() {
            if (this.value === "nickname") {
                this.value = ""; 
            }
            this.style.color = "#333";
        nick.onblur = function() {
            if (this.value === "") {
                this.value = "nickname";
            }
            this.style.color = "#999";
            }
        }
        user.onfocus = function() {
            if (this.value === "username") {
                this.value = ""; 
            }
            this.style.color = "#333";
        user.onblur = function() {
            if (this.value === "") {
                this.value = "username";
            }
            this.style.color = "#999";
            }
        }

        pwd.onfocus = function() {
            if (this.value === "password") {
                this.value = ""; 
            }
            this.style.color = "#333";
        pwd.onblur = function() {
            if (this.value === "") {
                this.value = "password";
            }
            this.style.color = "#999";
            }
        }
    </script>
</body>
</html>